@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

section{
    height: 100vh;
}
.section-colors .container-content-colors {
    margin-left: auto;
    margin-right: auto;
    // width: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 1294px;
}
.section-colors .enhanced .wipe {
    height: 100vh;
    width: 100%;
    position: absolute;
}
.section-colors .wipe {
    overflow: hidden;
}
.section-colors .enhanced .wipe .wipe-content {
    height: initial;
}

.building{
    width: 100vw;
    
    background: url('https://cdn.pixabay.com/photo/2018/10/04/14/14/tianjin-3723726_960_720.jpg') no-repeat;
    background-size: cover;
}
.street{
    width: 100vw;
    
    background: no-repeat url('https://cdn.pixabay.com/photo/2020/05/06/00/15/cyberpunk-5135622_960_720.jpg');
    background-size: cover;
    // position: relative;
    .fly{
        color: white;
        font-size: 20px;
        position: fixed;
        left: calc((100vw - 150px) / 3);
        top: calc((100vh - 150px) / 3 + 100px);
        transition: .6s;
        opacity: 0;
        &.active{
            top: calc((100vh - 150px) / 3);
            opacity: 1;
        }
    }
}
.bus{
    width: 100vw;
    
    background: no-repeat url('https://cdn.pixabay.com/photo/2018/12/03/03/17/city-3852646_960_720.jpg');
    background-size: cover;
}
.alphabet{
    width: 0px;
    height: 0px;
    z-index: 4;
    background:no-repeat url('https://i.pinimg.com/originals/75/39/87/753987e453e76927dcd78b275fb82b06.png');
    background-size: contain;
    position: fixed;
    left: calc((100vw - 150px) / 2);
    top: calc((100vh - 150px) / 2);
    transition: 1.5s;
    opacity: 0;
    &.active{
        width: 100vw;
        height: 100%;
        left: calc((100vw - 100vw) / 2);
        top: calc((100vh - 100%) / 2);
        opacity: 1;
    }
}
.white{
    width: 100vw;
    background: white;
    // clip-path: inset(100% 0px 0px);
    
    &.active{
    clip-path: inset(0% 0px 0px);
    position: fixed;
    left: 0;
    top: 0;
    }
}
.black{
    
    width: 100vw;
    background-color: #000;
    color: white;
    clip-path: inset(100% 0px 0px);

    &.active{
    clip-path: inset(0% 0px 0px);

    }
}
.red{
    width: 100vw;
    background: red;
    color: white;
    clip-path: inset(100% 0px 0px);

    &.active{
    clip-path: inset(0% 0px 0px);

    }
}
.bigword{
    // transition: 0.1s;
    p{
        font-size: 20pt;
        font-family: '微軟正黑體';
        font-weight: 900;
        position: fixed;
        left: calc((100vw - 20pt) / 2);
        top: calc((100vh - 20pt) / 2);
    }
}